<nav>
  <ul>
    <li>
      <a href="/articles/">All Articles</a>
    </li>
    <li>
      <a href="/articles/new">New Article</a>
    </li>
    <li>
      <a href="/authors/">All Authors</a>
    </li>
    <li>
      <a href="/authors/new">New Author</a>
    </li>
  </ul>
</nav>